<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="SalesManCardPrinter" value="HP LaserJet 1020"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="POSDb" connectionString="Data Source=HASSAN\EFERT;Initial Catalog=POSDb;User ID=hassan;Password=1234" providerName="System.Data.SqlClient" />-->
    <add name="POSDb" connectionString="Data Source=sg1-wsq1.a2hosting.com;Initial Catalog=sanasaho_posdb;User ID=sanasaho_junaid;Password=jadijadi61126112@@" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>